/*.lock.hcl
/.terraform 
/.terraform.lock.hcl
/.terraform.tfstate.lock.info
/terraform.tfstate.backup
/terraform.tfstate
/.vscode
/docker/
/wordpress-01.pem
/id_rsa
/id_rsa.pub
/manul_method_doc.docx
/task2_wordpress.docx